% include("header", title="Home")

<body>
    <main>
        <h3>Welcome {{user["name"]}} to the MINIVERSE. The email you logged in is {{user["email"]}} </h3>
        <h2 class="text-center">tweets</h2>

        <form action="/tweets" method="post">

            <div class="form-group">
                <input name="tweet_title" type="text" class="form-control" placeholder="Write your title here">
            </div>
            <div class="form-group">
                <input name="tweet_text" type="text" class="form-control" placeholder="Write your tweet here">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Share it</button>
            </div>
        </form>
        </div>



        <div class="form-group">
            <form action="/logout" method="get">
                <button type="submit" class="btn btn-primary btn-block">Logout</button>
            </form>
        </div>


    </main>
</body>

% include("footer")
